<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>游戏助手</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
<h2>测试匹配</h2>
<form id="imageMatchForm" enctype="multipart/form-data">
    <label for="ip">输入设备 IP:</label>
    <input type="text" id="ip" name="ip" required><br><br>
    <label for="ip">输入设备 模板图像名称:</label>
    <input type="text" id="templateName" name="templateName" required><br><br>
    <input type="submit" value="测试匹配">
</form>

<button id="get-coordinates-button">取坐标</button>
<div id="image-container">
    <div id="imageMatchFormMessage"><img id="output-image" src="" alt="Output Image" style="display: none;width: 100%; height: auto"></div>
    <div id="coordinate-display"></div>
    <div id="zoom-region"></div>

</div>
<div id="selected-coordinate"></div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>